/// MAIN COLORS
// $bg-light: #f6f6f6;
$bg-light: #fcfcfc;
$bg-dark: #121212;

$white: #fdfdfd;
$light-grey: #d9d8d8;
$middle-grey: #aaaaaa;
$dark-grey: #484848;
$black: #1f1f1f;

$blue: #27b4f0;
$light-blue: #94dcfb;
$dark-blue: #3a5763;
$magenta: #de5cff;

// Text colors
$color-blue: $blue;
$color-white: $white;
$color-light-grey: $light-grey;
$color-middle-grey: $middle-grey;
$color-dark-grey: $dark-grey;
$color-black: $black;

// Button colors
$btn-select: $blue;
$btn-selected: $black;

// Border colors
$border-blue: $blue;
$border-magenta: $magenta;

// List style colors
$valuable: $blue;
$unvaluable: $magenta;

// Shadow colors
$shadow-bg-black: #000;
$shadow-bg-blue: $blue;

// Fill svg colors
$fill-blue: $blue;
$fillolight-grey: $light-grey;
