$bg-dark: #121212;

$white: #fdfdfd;
$light-grey: #d9d8d8;
$regular-grey: #a0a0a0;
$middle-grey: #585656;
$dark-grey: #484848;
$black: #1f1f1f;

$blue: #27b4f0;
$light-blue: #94dcfb;
$dark-blue: #3a5763;
$green: #27ae60;
$red: #eb5757;
$magenta: #de5cff;
