@import './colors.scss';
@import './sizes.scss';

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  line-height: 1;
}

::selection {
  background-color: $blue;
}
// CHROME SCROLL PROPERTY
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $middle-grey;
}
::-webkit-scrollbar-thumb {
  background: $light-grey;
  border-right: 1px solid $middle-grey;
}

html {
  font-family: 'Roboto', sans-serif;
  // SCROLL ANIMATION PROPERTY
  scroll-behavior: smooth;
  // FIREFOX SCROLL PROPERTY
  // thumb and track color
  scrollbar-color: $light-grey $middle-grey;
  scrollbar-width: thin;
}

html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
  text-rendering: optimizeSpeed;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
}
h1,
h2 {
  text-transform: uppercase;
}
h2 {
  letter-spacing: 0.15em;
}
p,
pre,
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 21px;
}

#gatsby-focus-wrapper {
  min-height: 100%;
  width: 100%;
  position: relative;
}

// См. intro и values стили!!!
#intro,
#values {
  .gatsby-image-wrapper {
    width: inherit;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }
}

/// PLAY BUTTON
button.play-btn {
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  position: relative;
  border: 2px solid $light-grey;
  border-radius: 50%;
  background-color: transparentize(black, 0.75);
  transition: all 0.3s cubic-bezier(0, 1.85, 0.58, 1);
  transform: translate3d(0, 0, 0);
  cursor: pointer;
  &::before {
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: inherit;
    box-shadow: inset 0 0 15px 3px rgba($white, 0.7),
      0 0 15px 3px rgba($white, 0.7);
  }
  &::after {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    border-radius: 50%;
    z-index: -1;
  }
  &:hover {
    background-color: $light-grey;
    transform: translate3d(0, 0, 150px);
    svg {
      fill: $black;
    }
    &::after {
      animation-delay: 50ms;
      animation: hover-play 1.1s ease-in-out forwards;
    }
  }
  @keyframes hover-play {
    from {
      opacity: 0.4;
      box-shadow: 0 0 15px rgba($black, 1);
    }
    to {
      opacity: 0;
      box-shadow: 0 0 0px 150px rgba($black, 0);
    }
  }
  svg {
    position: relative;
    left: 5px;
    fill: $light-grey;
    transition: all 0.3s ease-in-out;
  }
  @media screen and (max-width: $phones) {
    width: 100px;
    height: 100px;
    svg {
      transform: scale(0.8);
    }
  }
  @media only screen and (orientation: landscape) and (max-device-width: $tablets) {
    width: 100px;
    height: 100px;
    svg {
      transform: scale(0.8);
    }
  }
}

/// MAIN BUTTON
.btn {
  min-width: 220px;
  padding: 13px 0;
  position: relative;
  overflow: hidden;
  color: $white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 25px;
  background: $dark-blue;
  box-shadow: 0 5px 5px transparentize($dark-blue, 0.8),
    0 20px 20px transparentize($dark-blue, 0.9);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 5;
  &:hover {
    background: lighten($dark-blue, 5);
  }
  &:disabled {
    background: lighten($black, 10);
    box-shadow: none;
  }
}
