@import '../colors.scss';
@import '../sizes.scss';

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: transparentize(black, 0.3);
  z-index: 100;
}

.navigation {
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 130px 1fr 60px;
  align-items: center;
  padding: 0 24px;
  position: relative;
  @media screen and (min-width: $large-monitor) {
    width: 1920px;
  }
  @media screen and (max-width: $tablets) {
    height: 70px;
  }
  @media screen and (max-width: $phones) {
    height: 60px;
    padding: 0 10px;
  }
  #logo img {
    @media screen and (max-width: $tablets) {
      height: 27px;
    }
  }
  ul {
    grid-column: 2;
    display: flex;
    margin-left: auto;
    margin-right: 35px;
    @media screen and (max-width: $tablets) {
      display: none;
    }
    li {
      a.nav-link {
        margin: 0 5px;
        padding: 12px;
        color: $white;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        border: 2px solid transparent;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          border-color: $white;
        }
        &.act-link {
          border-color: $white;
        }
      }
    }
  }

  #lang-btn {
    width: 45px;
    height: 30px;
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    border-radius: 5px;
    background-color: $white;
    color: $black;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    perspective: 500px;
    transform-style: preserve-3d;
    &.langs-show {
      #langs {
        display: flex;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        pointer-events: initial;
      }
    }
    #langs {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 35px;
      right: 0px;
      opacity: 0;
      background: $white;
      border-radius: 5px;
      box-shadow: 0 7px 15px rgba(black, 0.5);
      transform: translate3d(0px, -15px, 0px);
      transition: all 0.3s ease-in-out;
      pointer-events: none;
      .lang {
        padding: 5px 10px;
        margin: 5px 15px;
        position: relative;
        outline: none;
        border: none;
        background: inherit;
        color: $black;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          color: $middle-grey;
        }
      }
    }
  }
}

// MOBILE MENU
#nav-mob {
  display: none;
  @media screen and (max-width: $tablets) {
    width: 45px;
    height: 25px;
    display: flex;
    position: relative;
    margin-left: auto;
    cursor: pointer;
    background: transparent;
    span {
      width: 30px;
      height: 3px;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: $white;
      transform: translate(-50%, -50%);
      &::after {
        content: '';
        width: inherit;
        height: inherit;
        position: absolute;
        top: -9px;
        left: 0;
        background-color: inherit;
      }
      &::before {
        content: '';
        width: 18px;
        height: inherit;
        position: absolute;
        top: 9px;
        right: 0;
        background-color: inherit;
      }
    }
  }
}

#nav-mob-menu {
  display: none;
  @media screen and (max-width: $tablets) {
    ul {
      width: 80vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        margin: 20px 0;
        a.nav-link {
          padding: 12px;
          color: $white;
          font-size: 2rem;
          letter-spacing: 0.12em;
          text-transform: uppercase;
          border: 2px solid transparent;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            border-color: $white;
          }
          &.act-link {
            border-color: $white;
          }
        }
      }
    }
  }
  @media screen and (max-width: $phones) {
    ul li a.nav-link {
      font-size: 1.5rem;
    }
  }
}
