@import '../colors.scss';
@import '../sizes.scss';

#modal-plan {
  justify-content: center;
  @media screen and (max-width: 600px) {
    overflow: auto;
    align-items: self-start;
  }
  @media screen and (max-width: $tablets) and (orientation: landscape) {
    overflow: auto;
    align-items: self-start;
  }
  #modal-plan-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    cursor: pointer;
    &::after {
      content: '';
      width: 5px;
      height: 30px;
      position: absolute;
      top: -25%;
      left: 50%;
      background-color: $dark-grey;
      transition: all 0.3s ease-in-out;
      transform: translate(-50%, 50%) rotate(45deg);
    }
    &::before {
      content: '';
      width: 5px;
      height: 30px;
      position: absolute;
      top: -25%;
      left: 50%;
      background-color: $dark-grey;
      transition: all 0.3s ease-in-out;
      transform: translate(-50%, 50%) rotate(-45deg);
    }
  }
  &.show {
    .plan-form {
      transform: translate3d(0, 0, 0);
    }
  }
  .plan-form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 65px 45px;
    border-radius: 15px;
    border: 2px solid transparent;
    transform: translate3d(600px, 0, 0);
    transition: all 0.3s ease-in-out;
    transition-delay: 0.5s;
    #modal-plan-title {
      display: flex;
      flex-direction: column;
      place-items: center;
      span {
        text-align: center;
        font-size: 2rem;
        @media screen and (max-width: 600px) {
          font-size: 1.5rem;
        }
      }
      b {
        margin-top: 20px;
        font-size: 3rem;
        text-transform: uppercase;
        color: $dark-blue;
      }
    }
    p {
      margin: 25px 0;
    }
    @media screen and (max-width: 600px) {
      padding: 65px 15px;
    }
  }
}

form {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  input,
  textarea {
    max-width: 100%;
    min-width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid $dark-blue;
    background: transparent;
    font-size: 1rem;
    &::placeholder {
      opacity: 0.5;
    }
    &:focus {
      border-bottom-color: $blue;
    }
  }
}
.form_btn {
  min-width: 220px;
  margin: 10px auto 0;
  padding: 13px 0;
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: $white;
  background: $dark-blue;
  box-shadow: 0 5px 5px transparentize($dark-blue, 0.8),
    0 15px 15px transparentize($dark-blue, 0.9);
  &:hover {
    background: lighten($dark-blue, 5);
  }
  &:disabled {
    background: lighten($black, 10);
    box-shadow: none;
  }
}
.success,
.error {
  font-weight: 700;
}

.light {
  #modal-plan {
    .plan-form {
      background: $white;
      box-shadow: 0 8px 8px transparentize($blue, 0.9),
        0 20px 20px transparentize($blue, 0.95);
    }
  }
  .success {
    color: #0f860f;
  }
  .error {
    color: #db0a0a;
    background-color: rgb(245, 245, 245);
  }
}

.dark {
  #modal-plan {
    #modal-plan-close {
      &::after,
      &::before {
        background-color: $regular-grey;
      }
    }
    .plan-form {
      background: lighten($black, 3);
      box-shadow: 0 8px 8px transparentize($black, 0.2),
        0 20px 20px transparentize($black, 0.3);
      #modal-plan-title {
        span {
          color: $light-grey;
        }
        b {
          color: $white;
        }
      }
      p {
        color: $regular-grey;
      }
    }
  }
  .form-input {
    color: $light-grey;
    textarea {
      color: $light-grey;
    }
  }
  .success {
    color: #90f190;
  }
  .error {
    color: #f19090;
  }
}
