@import '../colors.scss';
@import '../sizes.scss';

#plans {
  width: 100%;
  display: grid;
  grid-template-columns:
    1fr
    minmax(300px, 350px)
    minmax(300px, 350px)
    minmax(300px, 350px)
    minmax(300px, 350px)
    1fr;
  grid-template-rows: 1fr;
  gap: 24px;
  align-items: stretch;
  padding: 250px 24px;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: $laptops) {
    grid-template-columns:
      1fr
      minmax(300px, 350px)
      minmax(300px, 350px)
      1fr;
    gap: 50px 24px;
  }
  @media screen and (max-width: $tablets) {
    align-items: stretch;
    grid-template-columns:
      1fr
      minmax(300px, 420px)
      1fr;
    gap: 50px 0px;
  }
  @media screen and (max-width: $phones) {
    align-items: stretch;
    grid-template-columns: 1fr;
    gap: 50px 0px;
  }
  @media screen and (orientation: landscape) and (max-device-width: $tablets) {
    align-items: stretch;
    grid-template-columns: 1fr minmax(300px, 350px) 1fr;
    gap: 50px 0px;
  }

  /// PLAN
  .plan {
    position: relative;
    padding: 80px 25px 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.3s ease-in-out;
    perspective: 1000px;
    z-index: 2;
    .plan_bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      border-radius: inherit;
      border: 2px solid transparent;
      transition: all 0.3s ease-in-out;
      pointer-events: none;
      z-index: -1;
      // &::after {
      //   content: '';
      //   width: 33rem;
      //   height: 30rem;
      //   position: absolute;
      //   top: -210px;
      //   left: -30px;
      //   border-radius: 50%;
      //   background-color: transparentize($middle-grey, 0.9);
      //   transition: all 0.3s ease-in-out;
      //   @media screen and (max-width: $tablets) {
      //     width: 34rem;
      //     height: 30rem;
      //   }
      // }
      ///// ELEMENTS
      &.popular {
        border-color: transparentize($blue, 0.5);
        box-shadow: 0 8px 8px transparentize($blue, 0.9),
          0 20px 20px transparentize($blue, 0.95);
      }
    }
    &:nth-of-type(1) {
      grid-column: 2 / 3;
      @media screen and (max-width: $laptops) {
        grid-column: 2 / 3;
      }
      @media screen and (max-width: $tablets) {
        grid-column: 2;
      }
    }
    &:nth-of-type(2) {
      grid-column: 3 / 4;
      @media screen and (max-width: $laptops) {
        grid-column: 3 / 4;
      }
      @media screen and (max-width: $tablets) {
        grid-column: 2;
      }
    }
    &:nth-of-type(3) {
      grid-column: 4 / 5;
      @media screen and (max-width: $laptops) {
        grid-column: 2 / 3;
      }
      @media screen and (max-width: $tablets) {
        grid-column: 2;
      }
    }
    &:nth-of-type(4) {
      grid-column: 5 / 6;
      @media screen and (max-width: $laptops) {
        grid-column: 3 / 4;
      }
      @media screen and (max-width: $tablets) {
        grid-column: 2;
      }
    }

    // INSIDE
    #plan_pop {
      position: absolute;
      top: 50px;
      left: 50%;
      color: $blue;
      font-size: 15px;
      font-weight: 700;
      text-align: center;
      letter-spacing: 2.5px;
      text-transform: uppercase;
      transform: translate(-50%, 0);
      @media screen and (max-width: 333px) {
        top: 40px;
      }
    }
    .plan_name {
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3.5px;
    }
    h5 {
      width: 100%;
      overflow: hidden;
      margin: 20px 0 40px;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .plan_price {
      position: relative;
      font-size: 50px;
      font-weight: 700;
      .plan_from {
        position: absolute;
        top: -20px;
        left: -30px;
        font-size: 21px;
      }
    }
    .plan_btn {
      min-width: 220px;
      margin: 50px 0;
      padding: 13px 0;
      position: relative;
      overflow: hidden;
      color: $white;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      background: $blue;
      border-radius: 25px;
      box-shadow: 0 5px 5px transparentize($blue, 0.8),
        0 15px 15px transparentize($blue, 0.9);
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &::after {
        content: '';
        width: 1px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        border-radius: 50%;
      }
      &:hover {
        &::after {
          animation-delay: 50ms;
          animation: hover-anim 0.7s ease-in-out forwards;
        }
      }
    }
    @keyframes hover-anim {
      from {
        opacity: 0.4;
        box-shadow: 0 0 15px rgba($white, 1);
      }
      to {
        opacity: 0;
        box-shadow: 0 0 0px 180px rgba($white, 0);
      }
    }
    .plan_btn-mob {
      display: none;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      background-color: transparent;
      cursor: pointer;
      .plan_btn-show {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        position: relative;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        &::after,
        &::before {
          content: '';
          width: 15px;
          height: 3px;
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 5px;
          transition: all 0.3s ease-in-out;
        }
        &::after {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        &::before {
          transform: translate(-50%, -50%) rotate(90deg);
        }
        &.active {
          &::after {
            transform: translate(-50%, -50%) rotate(45deg);
          }
          &::before {
            transform: translate(-50%, -50%) rotate(135deg);
          }
        }
      }
      @media screen and (max-width: $tablets) {
        display: flex;
      }
      @media screen and (orientation: landscape) and (max-device-width: $tablets) {
        display: flex;
      }
    }

    /// PLANS FEATURES
    .plan_features {
      display: grid;
      grid-template-columns: 16px 1fr;
      gap: 15px;
      transition: all 0.3s ease-in-out;
      p,
      pre {
        line-height: 130%;
        letter-spacing: 0.05em;
      }
      #plan_features-custom {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        white-space: pre-wrap;
        margin-bottom: auto;
      }
      .plan_icon-unmark,
      .plan_icon-mark {
        width: 1rem;
        height: 1rem;
        margin-top: 2px;
        border-radius: 50%;
      }
      .plan_icon-unmark {
        border: 2px solid $magenta;
      }
      .plan_icon-mark {
        position: relative;
        border: 2px solid transparent;
        border-top: 2px solid $blue;
        border-left: 2px solid $blue;
        border-bottom: 2px solid $blue;
        transform: rotate(-30deg);
        &::after,
        &::before {
          content: '';
          position: absolute;
          background-color: $blue;
          border-radius: 5px;
        }
        &::after {
          width: 13px;
          height: 2px;
          top: 5px;
          left: 4px;
          transform: rotate(-20deg);
        }
        &::before {
          width: 6px;
          height: 2px;
          top: 5px;
          left: 2px;
          transform: rotate(80deg);
        }
      }
      @media screen and (max-width: $tablets) {
        max-height: 0px;
      }
      @media screen and (orientation: landscape) and (max-device-width: $tablets) {
        max-height: 0px;
      }
      &.show-features {
        max-height: 370px;
      }
    }

    &:hover .plan_bg {
      border-color: $magenta;
      box-shadow: 0 8px 8px transparentize($magenta, 0.9),
        0 20px 20px transparentize($magenta, 0.8);
      transform: translate3d(0, 0, 30px);
    }
  }
}

/// DARK THEME
.dark {
  #plans {
    background-color: $bg-dark;
    .plan_bg {
      background-color: $black;
      &.select {
        background-color: lighten($black, 1);
        border-color: $bg-dark;
        box-shadow: inset 0px 10px 20px rgba(black, 0.3),
          inset 0px 2px 3px rgba(black, 0.5);
        transform: translate3d(0, 0, 0px);
        ~ .plan_btn {
          background: $dark-grey;
          box-shadow: 0 5px 5px transparentize($dark-grey, 0.8),
            0 15px 15px transparentize($dark-grey, 0.9);
        }
      }
    }
  }
  .plan_name {
    color: $light-grey;
  }
  h5 {
    color: $middle-grey;
  }
  .plan_price {
    color: $light-grey;
  }
  .plan_btn-mob {
    color: $light-grey;
    .plan_btn-show {
      background-color: $dark-grey;
      box-shadow: 0 8px 8px transparentize($bg-dark, 0);
      &::after,
      &::before {
        background-color: $light-grey;
      }
      &.active {
        box-shadow: 0 8px 8px transparentize($bg-dark, 1);
      }
    }
  }
  .plan_features {
    color: $light-grey;
  }
}
/// LIGHT THEME
.light {
  #plans {
    background-color: $bg-light;
    .plan_bg {
      background-color: $white;
      box-shadow: 0 20px 20px transparentize($blue, 0.95),
        0 8px 8px transparentize($blue, 0.85);
      &.select {
        background-color: darken($white, 1);
        border-color: transparent;
        box-shadow: inset 0px 10px 20px rgba($black, 0.05),
          inset 0px 2px 3px rgba($black, 0.25);
        transform: translate3d(0, 0, 0px);
        ~ .plan_btn {
          background: $dark-grey;
          box-shadow: 0 5px 5px transparentize($dark-grey, 0.8),
            0 15px 15px transparentize($dark-grey, 0.9);
        }
      }
    }
  }
  .plan_name {
    color: $dark-grey;
  }
  h5 {
    color: $middle-grey;
  }
  .plan_price {
    color: $dark-grey;
  }
  .plan_btn-mob {
    color: $middle-grey;
    .plan_btn-show {
      background-color: darken($white, 4);
      box-shadow: 0 8px 8px transparentize($blue, 0.85);
      &::after,
      &::before {
        background-color: $dark-grey;
      }
      &.active {
        box-shadow: 0 8px 8px transparentize($bg-dark, 1);
      }
    }
  }
  .plan_features {
    color: $dark-grey;
  }
  .plan:hover .plan_btn-show {
    box-shadow: 0 8px 8px transparentize($magenta, 0.85);
  }
}
